* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
    background-color: #255957;
}

.navbar {
    background-color: #011638;
    padding: 16px;
    margin-bottom: 24px;
    padding-right: 24px;
    padding-left: 24px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 24px;

    font-weight: 800;
    color: white;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-right: 16px;
    text-transform: lowercase;
}

li a:hover {
    color: #437C90;
    text-decoration: underline;
}