.content-table{
    border-collapse: collapse;
    margin: 25px;
    font-size: 1em;
    min-width: 400px;
    overflow: hidden;
}

.content-table thead tr {
    background-color: #437C90;
    color: white;
    text-align: center;
    font-weight: bold;
}

.content-table th, 
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #ddd;
    background-color: #EEEBD3;
}

.content-table tbody tr:nth-last-of-type(even) {
    background-color: #d6bf8580;
}

tbody td button{
    background-color: #437C90;
    padding: 8px 16px;
    width: fit-content;
    border-radius: 10px;
    border: none;
}

.btn-editar{
    background-color: rgb(58, 53, 194);
}
.btn-excluir{
    background-color: rgb(161, 29, 29);
}
tbody td button a {
    color: white;
}






